<% cache ['v1', 'dangnhap'] do %>
	<div class="dangnhap">


	<%= form_for(:session) do |f| %>
		<fieldset>
		<legend>Đăng Nhập</legend>
		<%= f.label "Email" %>	
		<%= f.text_field :email, :class => 'input-xlarge' %>

		<%= f.label "Mật Khẩu" %>
		<%= f.password_field :password , :class => 'input-xlarge'%>

		<%= f.submit "Đăng Nhập", :class => "btn" %>

		</fieldset>
	<% end %>

	</div>

<% end %>