<div class="dangnhap">


<%= form_for(:session) do |f| %>
	<fieldset>
	<legend>Đăng Nhập</legend>
	<%= f.label "Email" %>	
	<%= f.text_field :email %>

	<%= f.label "Mật Khẩu" %>
	<%= f.password_field :password %> <br/>

	<%= f.submit "Đăng Nhập", :class => "btn" %>

	</fieldset>
<% end %>

</div>