


<div class="dangky">



<%= form_for(@user) do |f| %>
	
	<% if @user.errors.any?  %>
		<% @user.errors.full_messages.each do |e| %>
			<span class='loidangky'>* <%= e %> <br/></span>
		<% end %>
	<% end %>

	<br/>

<% cache ['v2', 'dangky'] do %>

			<fieldset>
			<legend>Đăng Ký</legend>
			<%= f.label "Tên shop" %>
			<%= f.text_field :name, :class => 'input-xlarge' %>

			<%= f.label "Email" %>
			<%= f.text_field :email, :class => 'input-xlarge' %>

			<%= f.label "Mật Khẩu" %>
			<%= f.password_field :password , :class => 'input-xlarge'%>

			<%= f.label "Xác Nhận Lại Mật Khẩu" %>
			<%= f.password_field :password_confirmation, :class => 'input-xlarge' %>

			<br/>

			<%= f.submit "Tạo Cửa Hàng", :class => "btn btn-primary" %>

			</fieldset>

<% end %>

</div>

<% end %>

