	
		<% if !@user.avatar.exists? %>
			<%= image_tag('ninja.png', :size => '144x144', :class => "img-polaroid") %>
		<% else %>
			<%= image_tag @user.avatar.url(:medium), :size => '144x144', :class => "img-polaroid" %>
		<% end %>


		<br/>
		<% if signed_in? && current_user.id == @user.id %>

			<%= form_for @user, :html => { :multipart => true }, :url => {controller: 'users', action: 'update_avatar'} do |form|%>
			  <%= form.file_field :avatar, :title=>"Chọn Avatar Khác", :class => 'btn btn-link btn-mini' %>
			  <br/>
			  
			  <%= form.button "Update", :class => 'btn btn-mini btn-info' %>
			<% end %>

		<% end %>

		<hr/>
		<h3><%=  @user.name %></h3>

		<p><b>Email:</b> <%= @user.email %></p>

		<% if signed_in? && current_user.id == @user.id %>
			<p><b>Chủ cửa hàng:</b> <%= best_in_place @user, :owner, :type => :input %> </p>
			<p><b>Facebook:</b> <%= best_in_place @user, :facebook, :type => :input, :nil => "Click để cập nhập" %> </p>
			<p><b>Địa chỉ:</b> <%= best_in_place @user, :address, :type => :input, :nil => "Click để cập nhập" %> </p>
			<p><b>Về cửa hàng:</b> <%= best_in_place @user, :description, :type => :textarea, :nil => "Click để cập nhập" %> </p>
			<p><b>Điện thoại:</b> <%= best_in_place @user, :phone, :type => :input, :nil => "Click để cập nhập" %> </p>

		<% else %>
			<p><b>Chủ cửa hàng:</b> <%= @user.owner %></p>
			<p><b>Facebook:</b> <%= @user.facebook %></p>
			<p><b>Địa chỉ:</b> <%= @user.address %></p>
			<p><b>Về cửa hàng:</b> <%= @user.description %></p>
			<p><b>Điện thoại:</b> <%= @user.phone %></p>
		<% end %>

		<% cache ['v4', 'setting'] do %>

		<a id="simple-menu" href="#sidr"><button class="btn">Quản lý sản phẩm</button></a>
 
		<div id="sidr">
		  <!-- Your content -->
		  <ul>
		    <li><a href="#">Thêm sản phẩm</a></li>
		    <li><a href="#">Hòm thư</a></li>
		    <li><a href="#">About</a></li>
		    <li><%= link_to "Homepage", root_url %></li>
		  </ul>
		</div>

		<% end %>
