<!DOCTYPE html>
<html>
<head>
  <title>Little Shop <%= @title %></title>
     <%= stylesheet_link_tag    "application" %>
     <%= javascript_include_tag "application", :cache => 'cached/all' %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="navbar">
  <div class="navbar-inner">

    <% cache ['v1', 'logo'] do %>

      <%= link_to image_tag('logo.png', :size => "30x30") + " LittleShop", root_url, :class => "brand" %>
    
    <% end %>
    
    <div class="login_logout">
    	<ul class="nav">
	    	<% if signed_in? %>
	    			<li><%=  link_to "#{current_user.email}", user_path(current_user) %></li>
	    			<li><%= link_to "Thoát", logout_path %></li>
	    	<% else %>
		    		<li><%= link_to "Đăng Ký", signup_path, id: 'dangky' %></li>
		    		<li><%= link_to "Đăng Nhập", signin_path, id: 'dangnhap' %></li>
		    <% end %>
	    </ul>
    </div>
  
  </div>
</div>


<div class="container-fluid">

    	<% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
     <% end %>

      <% if flash[:error] %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% end %>

    <div class="row-fluid">

    	<%= yield %>

    </div>

</div>


 



</body>
</html>
