<!DOCTYPE html>
<html>
<head>
  <title>Little Shop <%= @title %></title>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <%= link_to image_tag('logo.png', :size => "30x30") + " LittleShop", root_url, :class => "brand" %>
    
 
    
    <div class="login_logout">
    	<ul class="nav">
	    	<% if signed_in? %>
	    			<li><%=  link_to "#{current_user.email}", user_path(current_user) %></li>
	    			<li><%= link_to "Thoát", logout_path %></li>
	    	<% else %>
		    		<li><%= link_to "Đăng Ký", signup_path %></li>
		    		<li><%= link_to "Đăng Nhập", signin_path %></li>
		    <% end %>
	    </ul>
    </div>
  
  </div>
</div>


<div class="container-fluid">

	<% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
 <% end %>

 <% if flash[:error] %>
    <div class="alert alert-error"><%= flash[:error] %></div>
 <% end %>

<div class="row-fluid">

	<%= yield %>

</div>

</div>


  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>


<script>
  $(document).ready(function() {
    $('#simple-menu').sidr();
  });
</script>

</body>
</html>
